.container {
    width: 350px;
    height: 555px;
    top: 100px;
    right: 0;
    box-shadow: -2px 3px 3px 0px var(--second-color);
    transition: width 1s;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 1px solid var(--second-color);
    z-index: 3;
}

.header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--second-color);
    box-shadow: 0px 2px 3px 0px var(--second-color);
    align-items: center;
}

.header-label {
    font-size: 1em;
    padding: 2px 10px;
}

.label {
    font-size: 0.8em;
    white-space: nowrap;
}

.object-label {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
}

button {
    text-shadow: none;
}

.line {
    display: flex;
    align-items: center;
    margin: 2px 0;
}

.param {
    display: grid;
    width: 100%;
    grid-template-columns: 35% 65%;
    align-items: center;
}

.inputs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.save-param {
    padding: 0;
    width: 25px;
}

.expand {
    position: absolute;
    right: 100%;
    font-size: 100%;
    transform: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

.editor {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 5px;
}

.controls {
    display: flex;
    flex-direction: column;
}

.target-name {
    overflow: hidden;
    text-align: center;
}