.container {
    width: 350px;
    height: 555px;
    top: 100px;
    right: 0;
    box-shadow: -2px 3px 3px 0px var(--third-color);
    transition: width 1s;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 1px solid var(--third-color);
    z-index: 3;
}

.header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--third-color);
    box-shadow: 0px 2px 3px 0px var(--third-color);
    align-items: center;
}

.object-label {
    padding: 10px;
}

button {
    text-shadow: none;
    padding: 0;
    width: 25px;
}

.expand {
    position: absolute;
    right: 100%;
    font-size: 100%;
    transform: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    margin: 0;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 5px;
}

.controls {
    display: flex;
    flex-direction: column;
}

.target-name {
    overflow: hidden;
}