<router-outlet></router-outlet>
<input type="file" name="" accept=".step,.stp,.gltf" (change)="LoadFile($event)" id="">
<canvas #canvas class="canvas" (mousemove)="onPointerMove($event)" (click)="onClick($event)"
    (window:resize)="onResize($event)" (window:keydown)="onKeyDown($event)" (window:keyup)="onKeyUp($event)"></canvas>
<app-timeline [scene]="AnimationService.scene" [actions]="AnimationService.actions"
    [curTime]="AnimationService.currentTime">
</app-timeline>
<app-properties [selected]="AnimationService.selectionChange" [curTime]="AnimationService.currentTime"
    [transformed]="AnimationService.transformChange">
</app-properties>
<app-dialog [show]="AnimationService.dialogShow" [modal]="AnimationService.dialogModal"
    [type]="AnimationService.dialogType"></app-dialog>