<router-outlet></router-outlet>
<app-menubar></app-menubar>
<app-properties [selected]="SceneUtilsService.selectionChange" [curTime]="AnimationService.currentTime"
    [transformed]="SceneUtilsService.transformChange">
</app-properties>
<canvas #canvas class="canvas" (mousemove)="onPointerMove($event)" (click)="onClick($event)"
    (window:resize)="SceneUtilsService.onResize($event)" (window:keydown)="onKeyDown($event)"
    (window:keyup)="onKeyUp($event)"></canvas>
<app-viewcube></app-viewcube>
<app-timeline [curTime]="AnimationService.currentTime" [selChange]="SceneUtilsService.selectionChange"
    [newFile]="SceneUtilsService.newFileLoading">
</app-timeline>
<app-dialog [show]="SceneUtilsService.dialogShow" [title]="SceneUtilsService.dialogTitle"
    [type]="SceneUtilsService.dialogType"></app-dialog>