<router-outlet></router-outlet>
<!-- <div class="btns">
    <label class="file-label" for="fileUpload">
        <input class="file" type="file" name="file" id="fileUpload" accept=".step,.stp,.gltf,.brep,.igs"
            (change)="LoadFile($event)">
        Загрузить модель
    </label>
    <button class="file-label" id="fileSave" (click)="SaveFile($event)">Сохранить модель </button>
</div> -->
<app-menubar></app-menubar>
<app-properties [selected]="SceneUtilsService.selectionChange" [curTime]="AnimationService.currentTime"
    [transformed]="SceneUtilsService.transformChange">
</app-properties>
<canvas #canvas class="canvas" (mousemove)="onPointerMove($event)" (click)="onClick($event)"
    (window:resize)="SceneUtilsService.onResize($event)" (window:keydown)="onKeyDown($event)"
    (window:keyup)="onKeyUp($event)"></canvas>
<app-viewcube></app-viewcube>
<app-timeline [curTime]="AnimationService.currentTime" [selChange]="SceneUtilsService.selectionChange"
    [newFile]="SceneUtilsService.newFileLoading">
</app-timeline>
<app-dialog [show]="AnimationService.dialogShow" [modal]="AnimationService.dialogModal"
    [type]="AnimationService.dialogType"></app-dialog>