<div class="container">
    <div class="header">
        <div class="label">CADAnimation</div>
        <div class="controls-panel">
            <div class="keyframe-controls">
                <button class="keyframe-add">+</button>
                <button class="keyframe-remove">-</button>
            </div>
            <div class="playback-controls">
                <button class="playback-play" (click)="OnPlayClick($event)">play</button>
                <button class="playback-stop" (click)="OnStopClick($event)">stop</button>
            </div>
            <div class="window-controls">
                <button class="load">load</button>
                <button class="save">save</button>
                <button class="expand">expand</button>
            </div>
        </div>
    </div>
    <div class="timeline" id="timeline">
        <div #lines class="lines" id="lines">
            <!-- <div class="nodes">
                <div class="part">
                    <button class="expand">></button>
                    <div class="partname">Part1</div>
                </div>
            </div>
            <div class="tracks">
                <div class="current-time"></div>
                <div class="node-tracks">
                    <div class="track">
                        <div class="keyframe" style="left: 30%;"></div>
                        <div class="keyframe" style="left: 50%;"></div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="line">
                <div class="part">
                    <button class="expand">></button>
                    <div class="partname">Part1</div>
                </div>
                <div class="track">
                    <div class="keyframe" style="left: 30%;"></div>
                    <div class="keyframe" style="left: 50%;"></div>
                </div>
            </div> -->
        </div>
    </div>
</div>