<div class="container">
    <div class="header">
        <div class="label">CADAnimation</div>
        <div class="controls-panel">
            <div class="keyframe-controls">
                <button class="keyframe-add">+</button>
                <button class="keyframe-remove">-</button>
            </div>
            <div class="playback-controls">
                <div class="timer">{{curTime.toPrecision(3)}}</div>
                <button class="playback-play" (click)="OnPlayClick($event)">play</button>
                <button class="playback-stop" (click)="OnStopClick($event)">stop</button>
            </div>
            <div class="window-controls">
                <input type="range" min="1" max="300" step="0.5" [(ngModel)]="timeLine.scale"
                    (change)="OnResizeTimeline($event)">
                <button class="load">load</button>
                <button class="save">save</button>
                <button class="expand">expand</button>
            </div>
        </div>
    </div>
    <div class="timeline" id="timeline">
        <div #lines class="lines" id="lines" (mousemove)="OnCurrentTimeMouseMove($event)"
            (mouseup)="OnCurrentTimeMouseUp($event)">
            <div class="line">
                <div class="part">
                    <div class="partname"></div>
                </div>
                <div class="ruler-track" id="rulerTrack">
                    <div class="current-time" id="curTime" (mousedown)="OnCurrentTimeMouseDown($event)"></div>
                </div>
            </div>
        </div>
    </div>
</div>