.container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 30%;
    background-color: snow;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.label {
    margin: 10px;
}

.controls-panel {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.keyframe-controls {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 0px 5px;
}

.keyframe-add {
    background-color: lightgreen;
}

.keyframe-remove {
    background-color: lightcoral;
}

.playback-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.playback-pause {
    background-color: black;
    color: white;
}

.playback-play {
    background-color: black;
    color: white;
}

.playback-stop {
    background-color: black;
    color: white;
}

.window-controls {
    display: flex;
    justify-content: space-around;
}

.expand {
    background-color: red;
}

.timeline {
    overflow: auto;
    height: 100%;
    user-select: none;
}

.line {
    display: grid;
    justify-content: left;
    grid-template-columns: 20% 80%;

}

.part {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid black;
    border-bottom: 1px solid black;

}

.partname {
    padding: 2px 3px;
    white-space: nowrap;
    overflow: hidden;
    user-select: text;
}

.mesh {
    align-items: center;
    display: flex;
    justify-content: left;
    background-color: bisque;
    border-left: 1px solid black;
    border-bottom: 1px solid black;

}

.meshname {
    padding: 2px 3px;
    white-space: nowrap;
    overflow: hidden;
}

.light {
    align-items: center;
    display: flex;
    justify-content: left;
    background-color: lightblue;
    border-left: 1px solid black;
    border-bottom: 1px solid black;

}

.lightname {
    padding: 2px 3px;
    white-space: nowrap;
    overflow: hidden;
}

.track {
    width: 80%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
}

.ruler-track {
    background-color: black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* background-color: antiquewhite; */
    display: flex;
    /* align-items: center; */
    position: relative;
    overflow: visible;
}

.keyframe {
    width: 10px;
    height: 10px;
    background: tan;
    transform: rotate(45deg);
    position: absolute;
    z-index: 11;
}

.current-time {
    width: 5px;
    background-color: red;
    height: 100%;
    position: absolute;
    z-index: 10;
    cursor: e-resize;
}