.container {
    width: auto;
    height: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: height 1s;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid gray; */
    box-shadow: 0px 2px 4px 0 gray;
    z-index: 1;
}

.label {
    margin: 10px;
}

.controls-panel {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.keyframe-controls {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 0px 5px;
    /* border: none;
    background: #bfbfbf;
    border-radius: 13px;
    height: 25px;
    text-shadow: 1px 1px 2px grey;
    box-shadow: 1px 1px 5px -1px grey; */
}

.keyframe-add {
    background-color: lightgreen;
}

.keyframe-remove {
    background-color: lightcoral;
}

.playback-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.playback-play {
    /* background-color: black;
    color: white; */
}

.playback-stop {
    /* background-color: black;
    color: white; */
}

.timer {
    margin: 0px 5px;
}

.window-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.expand-first {
    background: none;
    box-shadow: none;
    color: red;
    transition: transform 1s;
    font-size: 100%;
}

.expand-second {
    background: none;
    box-shadow: none;
    color: red;
    transform: rotate(180deg);
    transition: transform 1s;
    font-size: 100%;
}

.timeline {
    overflow: auto;
    height: 100%;
    user-select: none;
}

.line {
    display: grid;
    justify-content: left;
    grid-template-columns: 20% 80%;
}

.part {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.partname {
    padding: 2px 3px;
    white-space: pre;
    overflow: hidden;
    user-select: text;
}

.mesh {
    align-items: center;
    display: flex;
    /* justify-content: left; */
    justify-content: space-between;
    background-color: bisque;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.meshname {
    padding: 2px 3px;
    white-space: pre;
    overflow: hidden;
}

.light {
    align-items: center;
    display: flex;
    justify-content: left;
    background-color: lightblue;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lightname {
    padding: 2px 3px;
    white-space: pre;
    overflow: hidden;
}

.camera {
    align-items: center;
    display: flex;
    justify-content: left;
    background-color: rgb(173, 230, 182);
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cameraname {
    padding: 2px 3px;
    white-space: pre;
    overflow: hidden;
}

.track {
    width: 80%;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: visible;
    height: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: width 0.5s;
}

.track:hover {
    background-color: lightgray;
}

.track:active {
    background-color: lightcyan;
}

.ruler-track {
    background-color: black;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    /* background-color: antiquewhite; */
    display: flex;
    /* align-items: center; */
    position: relative;
    overflow: visible;
    transition: width 0.5s;
}

.keyframe {
    width: 10px;
    height: 10px;
    background: tan;
    transform: rotate(45deg);
    position: absolute;
    z-index: 11;
    cursor: pointer;
}

.current-time {
    width: 5px;
    background-color: red;
    height: 100%;
    position: absolute;
    z-index: 10;
    cursor: e-resize;
}

.actions {
    display: flex;
    flex-direction: column;
}

.action {
    position: relative;
    width: 100px;
    height: 6px;
    background-color: darkgoldenrod;
    border-radius: 5px;
    transition: height 100ms;
    cursor: pointer;
}

.action>.keyframe {
    visibility: hidden;
}

.action:hover {
    height: 10px;
}

.action:active>.keyframe {
    visibility: visible;
}