<div class="container" id="timeline-container">
    <div class="header">
        <div class="label">CADAnimation</div>
        <div class="controls-panel">
            <div class="keyframe-controls">
                <div class="label">Разрешение</div>
                <input type="range" min="0.1" max="1" step="0.05" [(ngModel)]="SceneUtilsService.renderScale"
                    (change)="SceneUtilsService.onResize($event)">
            </div>
            <div class="playback-controls">
                <button class="button-icon" (click)="OnPlayClick($event)">
                    <img src="../../../assets/play.png" alt="play/pause button" width="19px" height="19px">
                </button>
                <button class="button-icon" (click)="OnStopClick($event)">
                    <img src="../../../assets/stop.png" alt="stop button" width="19px" height="19px">
                </button>
                <div class="timer">{{curTime.toPrecision(3)}}</div>
            </div>
            <div class="window-controls">
                <div class="label">Длительность</div>
                <input type="number" class="input-number" min="1" max="3600" step="0.5" placeholder="Длительность"
                    [(ngModel)]="AnimationService.timeLine.duration">
                <input type="range" min="1" max="300" step="0.5" [(ngModel)]="AnimationService.timeLine.scale">
                <!-- <input type="range" value="0" min="0" max="300" step="0.5" (mousemove)="OnExplode($event)"> -->
                <button class="button-icon">
                    <label class="file-label" for="load">
                        <input class="file" type="file" name="load" id="load" accept=".xml"
                            (change)="AnimationService.LoadAnimationFile($event)">
                        <img src="../../../assets/upload.png" alt="stop button" width="19px" height="19px">
                    </label>
                </button>
                <button class="button-icon">
                    <label class="file-label" for="save">
                        <input class="file" type="file" name="save" id="save" accept=".xml">
                        <img src="../../../assets/save.png" alt="stop button" width="19px" height="19px">
                    </label>
                </button>
                <button class="expand-first" (click)="OnTimelineExpand($event)">▼</button>
            </div>
        </div>
    </div>
    <cdk-virtual-scroll-viewport #cdkScrollable [itemSize]="itemSize" class="timeline" id="timeline">
        <div #lines class="lines" id="lines" (mousemove)="OnCurrentTimeMouseMove($event)"
            (mouseup)="OnCurrentTimeMouseUp($event)">
            <div class="line">
                <div class="part">
                    <div class="partname"></div>
                </div>
                <div class="ruler-track" id="rulerTrack" [ngStyle]="SetTrackStyle()">
                    <div class="current-time" id="curTime" (mousedown)="OnCurrentTimeMouseDown($event)"></div>
                </div>
            </div>
            <div class="line" *cdkVirtualFor="let track of AnimationService.timeLine.array; trackBy:TrackByFunction"
                [ngStyle]="ShowLine(track.show)" [id]="track.id">
                <div [ngClass]="track.type" (contextmenu)="ShowContextMenu($event,track.id)"
                    (click)="OnLineClick(track.id)">
                    <div class="linename">{{" ".repeat(track.level*3)+track.name}}</div>
                    <button *ngIf="track.type=='Part'" [ngClass]="SetLineExpandClass(track.expand)"
                        (click)="OnExpandLineClick(track)">▼</button>
                </div>
                <div class="track" [ngStyle]="SetTrackStyle()" (click)="TrackClick($event)">
                    <div class="action" [ngStyle]="SetActionStyle(action)" (click)="ActionClick(action)"
                        (mousedown)="ActionMouseDown($event,action)" (mousemove)="ActionMouseMove($event,action)"
                        (mouseup)="ActionMouseUp($event)" *ngFor="let action of track.actions">
                        <div class="keyframe" [ngStyle]="SetKeyframeStyle(keyframe)" (click)="KeyframeClick(keyframe)"
                            *ngFor="let keyframe of action.keyframes"></div>
                    </div>
                </div>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
    <app-contextmenu *ngIf="contextMenu" [component]="this" [object]="contextObject" [posX]="posX"
        [type]="'timeline-track'" [posY]="posY"></app-contextmenu>
</div>