<div class="container">
    <div class="menubar">
        <img src="../../../assets/logo.png" alt="logo" width="64px" height="64px">
        <div class="menu-container">
            <div class="label" style="font-size: 120%;">{{SceneUtilsService.fileName}}</div>
            <div class="menu">
                <div class="menu-line">
                    <label class="first-menu-label">
                        <div class="menu-name">Файл</div>
                    </label>
                    <div class="container menu-items">
                        <div class="basic-line" (click)="NewProject()">Новый</div>
                        <label class="basic-line" for="fileUpload">
                            <input class="file" type="file" name="file" id="fileUpload"
                                accept=".step,.stp,.gltf,.glb,.brep,.igs"
                                (change)="SceneUtilsService.LoadModelFile($event)">
                            Загрузить модель
                        </label>
                        <div class="basic-line"
                            [ngStyle]="SceneUtilsService.SetDisableStyle(SceneUtilsService.model!=undefined && SceneUtilsService.model.children.length!=0)"
                            (click)="SceneUtilsService.SaveModelAsGLTF($event)">Экспорт</div>
                    </div>
                </div>
                <div class="menu-line">
                    <label class="first-menu-label">
                        <div class="menu-name">Правка</div>
                    </label>
                    <div class="container menu-items">
                        <div class="basic-line">Отменить</div>
                        <div class="basic-line">Вернуть</div>
                        <div class="basic-line">Копировать</div>
                        <div class="basic-line">Вставить</div>
                    </div>
                </div>
                <div class="menu-line">
                    <label class="first-menu-label">
                        <div class="menu-name">Вид</div>
                    </label>
                    <div class="container menu-items">
                        <div class="basic-line" (click)="SceneUtilsService.ViewcubeComponent.setView(0,0,1)">Вид спереди
                        </div>
                        <div class="basic-line" (click)="SceneUtilsService.ViewcubeComponent.setView(0,0,-1)">Вид сзади
                        </div>
                        <div class="basic-line" (click)="SceneUtilsService.ViewcubeComponent.setView(-1,0,0)">Вид слева
                        </div>
                        <div class="basic-line" (click)="SceneUtilsService.ViewcubeComponent.setView(1,0,0)">Вид справа
                        </div>
                        <div class="basic-line" (click)="SceneUtilsService.ViewcubeComponent.setView(0,1,0)">Вид сверху
                        </div>
                        <div class="basic-line" (click)="SceneUtilsService.ViewcubeComponent.setView(0,-1,0)">Вид снизу
                        </div>
                        <div class="hor-separator"></div>
                        <div class="menu-line">
                            <label class="menu-label">
                                <div class="menu-name">Внешний вид</div>
                                <div class="arrow-right">🞂</div>
                            </label>
                            <div class="container side-menu-items">
                                <div class="radio-line">
                                    <input name="theme" type="radio" id="default" checked class="radio"
                                        (click)="SetTheme(0)">
                                    <label class="radio-name" for="default">Светлая</label>
                                </div>
                                <div class="radio-line">
                                    <input name="theme" type="radio" id="dark" class="radio" (click)="SetTheme(1)">
                                    <label class="radio-name" for="dark">Темная</label>
                                </div>
                                <div class="radio-line">
                                    <input name="theme" type="radio" id="orange" class="radio" (click)="SetTheme(2)">
                                    <label class="radio-name" for="orange">Оранжевая</label>
                                </div>
                                <div class="radio-line">
                                    <input name="theme" type="radio" id="red&black" class="radio" (click)="SetTheme(3)">
                                    <label class="radio-name" for="red&black">Киберпанк</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-line">
                    <label class="first-menu-label">
                        <div class="menu-name">Сцена</div>
                    </label>
                    <div class="container menu-items">
                        <div class="menu-line">
                            <label class="menu-label">
                                <div class="menu-name">Источник света</div>
                                <div class="arrow-right">🞂</div>
                            </label>
                            <div class="container side-menu-items">
                                <div class="menu-line">
                                    <label class="menu-label">
                                        <div class="menu-name">Добавить</div>
                                        <div class="arrow-right">🞂</div>
                                    </label>
                                    <div class="container side-menu-items">
                                        <div class="basic-line" (click)="SceneManagerService.AddDirectionalLight()">
                                            Direction Light</div>
                                        <div class="basic-line" (click)="SceneManagerService.AddPointLight()">Point
                                            Light</div>
                                        <div class="basic-line" (click)="SceneManagerService.AddSpotLight()">Spot Light
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-line">Удалить</div>
                            </div>
                        </div>
                        <div class="menu-line">
                            <label class="menu-label">
                                <div class="menu-name">Аннотация</div>
                                <div class="arrow-right">🞂</div>
                            </label>
                            <div class="container side-menu-items">
                                <div class="basic-line" (click)="SceneManagerService.AddAnnotation()">Добавить</div>
                                <div class="basic-line">Удалить</div>
                            </div>
                        </div>
                        <div class="menu-line">
                            <label class="menu-label">
                                <div class="menu-name">Ось вращения</div>
                                <div class="arrow-right">🞂</div>
                            </label>
                            <div class="container side-menu-items">
                                <div class="basic-line" (click)="SceneManagerService.AddAxis()">Добавить</div>
                                <div class="basic-line">Удалить</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="menu-line">
                    <label class="first-menu-label">
                        <div class="menu-name">Анимация</div>
                    </label>
                    <div class="container menu-items">
                        <div class="basic-line" (click)="AnimationService.ClearAnimation(true)">Очистить</div>
                        <label class="basic-line" for="animUpload"
                            [ngStyle]="SceneUtilsService.SetDisableStyle(SceneUtilsService.model!=undefined && SceneUtilsService.model.children.length!=0)">
                            <input class="file" type="file" name="file" id="animUpload" accept=".xml,.json"
                                (change)="AnimationService.LoadAnimationFile($event)">
                            Открыть
                        </label>
                        <div class="basic-line"
                            [ngStyle]="SceneUtilsService.SetDisableStyle(SceneUtilsService.model!=undefined && SceneUtilsService.model.children.length!=0)"
                            (click)="AnimationService.SaveAnimationAsJSON()">Сохранить</div>
                    </div>
                </div>
                <div class="menu-line">
                    <label class="first-menu-label">
                        <div class="menu-name">Примеры</div>
                    </label>
                    <div class="container menu-items">
                        <div class="basic-line" (click)="LoadExample(0)">Манипулятор</div>
                        <div class="basic-line" (click)="LoadExample(1)">Планетарный редуктор</div>
                        <div class="basic-line" (click)="LoadExample(2)">Шаровой клапан</div>
                        <div class="basic-line" (click)="LoadExample(3)">Муфта разбор (Компас-3D)</div>
                        <div class="basic-line" (click)="LoadExample(4)">Муфта сборка (Компас-3D)</div>
                        <div class="basic-line" (click)="LoadExample(5)">Сертер глюкометра</div>
                        
                    </div>
                </div>
                <!-- <div class="menu-line">
                    <label class="first-menu-label">
                        <div class="menu-name">Help</div>
                    </label>
                    <div class="container menu-items">
                        <div class="basic-line">Вид спереди</div>
                        <div class="basic-line">Вид сверху</div>
                    </div>
                </div> -->
                <!-- <div class="menulist">Edit</div>
                <div class="menulist">View</div>
                <div class="menulist">Scene</div>
                <div class="menulist">Animation</div>
                <div class="menulist">Help</div> -->
            </div>
        </div>
    </div>
    <div class="toolbar-container">
        <div class=" toolbar-tool">
            <input type="color" value="#ffffff" (change)="OnSceneColorChange($event)" id="scene-color" title="Цвет неба">
        </div>
        <div class="toolbar-tool">
            <input type="color" value="#ffffff" (change)="OnGroundColorChange($event)" id="ground-color" title="Цвет нулевой плоскости">
        </div>
        <div class="vert-separator"></div>
        <div class="toolbar-tool">
            <input class="input-number" min="0" max="1000" value="2" step="1" (change)="SetSceneFog($event)"
                type="number" id="fog" title="Глубина тумана">
        </div>
        <div class="vert-separator"></div>
        <div class="toolbar-tool">
            <button class="checkbox" id="enviroment" (click)="SetEnviroment()"></button>
            <label for="enviroment"><img src="../../../assets/enviroment.png" width="19px" height="19px"
                    title="Окружение"></label>
        </div>
        <div class="toolbar-tool">
            <input class="checkbox" checked (change)="SetZeroPlaneVisibility($event)" type="checkbox" id="ground">
            <label for="ground"><img src="../../../assets/ground.png" width="19px" height="19px"
                    title="Нулевая плоскость"></label>
        </div>
        <div class="toolbar-tool">
            <input class="checkbox" (change)="SetZeroPlaneGrid($event)" type="checkbox" id="grid">
            <label for="grid"><img src="../../../assets/grid.png" width="19px" height="19px" title="Сетка"></label>
        </div>
        <div class="toolbar-tool">
            <input class="checkbox" (change)="SetReflection($event)" checked type="checkbox" id="reflection">
            <label for="reflection"><img src="../../../assets/reflection.png" width="19px" height="19px"
                    title="Отражение от пола"></label>
        </div>
        <div class="vert-separator"></div>
        <div class="toolbar-tool"
            [ngStyle]="SceneUtilsService.SetDisableStyle(SceneUtilsService.model!=undefined && SceneUtilsService.model.children.length!=0)">
            <input #checkboxCutEnable class="checkbox" type="checkbox" id="cut" (change)="SetClipping($event)">
            <label for="cut"><img src="../../../assets/cut.png" width="19px" height="19px"
                    title="Включить разрез"></label>
        </div>
        <div class="toolbar-tool"
            [ngStyle]="SceneUtilsService.SetDisableStyle(SceneUtilsService.model!=undefined && SceneUtilsService.model.children.length!=0)">
            <input class="checkbox" type="checkbox" id="planeX" (change)="ShowPlaneX($event)">
            <label for="planeX"><img src="../../../assets/planeX.png" class="no-filter" width="19px" height="19px"
                    title="Плоскость X"></label>
        </div>
        <div class="toolbar-tool"
            [ngStyle]="SceneUtilsService.SetDisableStyle(SceneUtilsService.model!=undefined && SceneUtilsService.model.children.length!=0)">
            <input class="checkbox" type="checkbox" id="planeY" (change)="ShowPlaneY($event)">
            <label for="planeY"><img src="../../../assets/planeY.png" class="no-filter" width="19px" height="19px"
                    title="Плоскость Y"></label>
        </div>
        <div class="toolbar-tool"
            [ngStyle]="SceneUtilsService.SetDisableStyle(SceneUtilsService.model!=undefined && SceneUtilsService.model.children.length!=0)">
            <input class="checkbox" type="checkbox" id="planeZ" (change)="ShowPlaneZ($event)">
            <label for="planeZ"><img src="../../../assets/planeZ.png" class="no-filter" width="19px" height="19px"
                    title="Плоскость Z"></label>
        </div>
        <div class="vert-separator"></div>
        <div class="toolbar-tool">
            <input class="checkbox" type="checkbox" id="cameraType" [(ngModel)]="SceneUtilsService.orthographic"
                (change)="SceneUtilsService.SwitchCamera()">
            <label for="cameraType"><img src="../../../assets/orthCamera.png" width="19px" height="19px"
                    title="Перспективная/Ортогональная камера"></label>
        </div>
        <div class="vert-separator"></div>
        <div class="toolbar-tool"
            [ngStyle]="SceneUtilsService.SetDisableStyle(SceneUtilsService.model!=undefined && SceneUtilsService.model.children.length!=0)">
            <input class="checkbox" type="checkbox" id="outline" [(ngModel)]="SceneUtilsService.outline">
            <label for="outline"><img src="../../../assets/outline.png" width="19px" height="19px"
                    title="Обводка граней"></label>
        </div>
        <div class="toolbar-tool"
            [ngStyle]="SceneUtilsService.SetDisableStyle(SceneUtilsService.model!=undefined && SceneUtilsService.model.children.length!=0)">
            <input class="checkbox" type="checkbox" id="wireframe" [(ngModel)]="SceneUtilsService.wireframe"
                (change)="SetWireframe($event)">
            <label for="wireframe"><img src="../../../assets/wireframe.png" width="19px" height="19px"
                    title="Просмотр сетки"></label>
        </div>
        <div class="vert-separator"></div>
        <div class="toolbar-tool">
            <input type="range" min="0.1" max="1" step="0.05" [(ngModel)]="SceneUtilsService.renderScale"
                (change)="SceneUtilsService.onResize($event)" title="Разрешение рендера">
        </div>
        <div class="toolbar-tool">
            <button class="checkbox" id="snapShot" (click)="CreateSnapshot()"></button>
            <label for="snapShot"><img src="../../../assets/snapshot.png" width="19px" height="19px"
                    title="Снимок экрана"></label>
        </div>
    </div>
</div>
