.container {
    display: grid;
    grid-template-rows: 50px auto 30px;
    top: 200px;
    left: 200px;
    /* border: 2px solid black; */
    min-width: min-content;
    min-height: min-content;
    visibility: hidden;
    z-index: 5;
}

.header {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--second-color);
    box-shadow: 0 2px 3px 0 var(--second-color);
    padding: 10px 5px;
    cursor: move;
}

.param {
    grid-template-columns: 1fr 100px;
}

.form {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    align-items: center;
    margin: 2px 0;
}