.container {
    display: grid;
    grid-template-rows: 50px auto;
    top: 200px;
    left: 200px;
    min-width: min-content;
    min-height: min-content;
    visibility: hidden;
    z-index: 5;
}

.header {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--second-color);
    box-shadow: 0 2px 3px 0 var(--second-color);
    padding: 10px 5px;
    cursor: move;
}

.param {
    grid-template-columns: 1fr 100px;
}

.form {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    align-items: center;
    margin: 2px 0;
}

.snapshot {
    border: 1px solid var(--second-color);
    box-shadow: 0px 2px 3px 0px var(--second-color);
    margin: 5px;
}

.progress-line {
    margin: 0px 5px;
    margin-top: 2px;
}

.progress {
    background-color: var(--second-color);
}

.progress-bar {
    background-color: dodgerblue;
    height: 5px;
}

.progress-labels {
    display: flex;
}

.progress-label {
    position: absolute;
}