<div class="container" #container id="container" (mousemove)="OnMouseMove($event)" (mouseup)="OnMouseUp($event)">
    <div class="header" (mousedown)="OnMouseDown($event)">
        <div class="label">Диалоговое окно</div>
        <button class="button-icon" (click)="CloseClick($event)">
            <img src="../../../assets/cancel.png" class="no-filter" alt="button-icon" width="19px" height="19px">
        </button>
    </div>
    <div class="form" [ngSwitch]="type">
        <div *ngSwitchCase="'CameraRotation'">
            <!--Лучше вывести в отдельный компонент-->
            <div class="line">
                <div class="param">
                    <div class="label">Начало анимации</div>
                    <div class="inputs">
                        <input type="number" class="input-number" min="0" [max]="AnimationService.timeLine.duration"
                            placeholder="Start time" [(ngModel)]="AnimationService.currentTime">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="param">
                    <div class="label">Конец анимации</div>
                    <div class="inputs">
                        <input type="number" class="input-number" [min]="AnimationService.currentTime"
                            [max]="AnimationService.timeLine.duration" placeholder="End time" [(ngModel)]="endTime">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="param">
                    <div class="label">Угол</div>
                    <div class="inputs">
                        <input type="number" class="input-number" placeholder="Angle" [(ngModel)]="rotAngle">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="param">
                    <div class="label">По часовой</div>
                    <div class="inputs">
                        <input type="checkbox" class="input-number" placeholder="direction" [(ngModel)]="rotDirection">
                    </div>
                </div>
            </div>
            <button (click)="OnCameraRotationCreate($event)">Создать</button>
        </div>
        <div *ngSwitchCase="'Settings'"></div>
        <div *ngSwitchCase="'Render'"></div>
    </div>
</div>