<div class="container" #container id="container" (mousemove)="OnMouseMove($event)" (mouseup)="OnMouseUp($event)">
    <div class="header" (mousedown)="OnMouseDown($event)">
        <div class="label" style="align-self: center;">Диалоговое окно</div>
        <button class="button-icon" (click)="CloseClick($event)">
            <img src="../../../assets/cancel.png" class="no-filter" alt="button-icon" width="19px" height="19px">
        </button>
    </div>
    <div class="form" [ngSwitch]="type">
        <div *ngSwitchCase="'cameraRotation'">
            <!--Лучше вывести в отдельный компонент-->
            <div class="line">
                <div class="param">
                    <div class="label">Начало анимации</div>
                    <div class="inputs">
                        <input type="number" class="input-number" min="0" [max]="AnimationService.timeLine.duration"
                            placeholder="Start time" [(ngModel)]="AnimationService.currentTime">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="param">
                    <div class="label">Конец анимации</div>
                    <div class="inputs">
                        <input type="number" class="input-number" [min]="AnimationService.currentTime"
                            [max]="AnimationService.timeLine.duration" placeholder="End time" [(ngModel)]="endTime">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="param">
                    <div class="label">Угол</div>
                    <div class="inputs">
                        <input type="number" class="input-number" placeholder="Angle" [(ngModel)]="rotAngle">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="param">
                    <div class="label">По часовой</div>
                    <div class="inputs">
                        <input type="checkbox" class="input-number" placeholder="direction" [(ngModel)]="rotDirection">
                    </div>
                </div>
            </div>
            <button (click)="OnCameraRotationCreate($event)">Создать</button>
        </div>
        <div *ngSwitchCase="'snapshot'">
            <div class="line">
                <div class="param">
                    <div class="label">Соотношение сторон</div>
                    <div class="inputs">
                        <select name="Aspect ration" (change)="OnAspectRatioChange($event)">
                            <option [value]="16/9" selected>16:9</option>
                            <option [value]="4/3">4:3</option>
                            <option [value]="5/3">5:3</option>
                            <option [value]="1">1:1</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="param">
                    <div class="label">Ширина</div>
                    <div class="inputs">
                        <input type="number" class="input-number" min="1" max="5000" placeholder="Width"
                            [(ngModel)]="canvasWidth" (ngModelChange)="SetCanvasWidth()">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="param">
                    <div class="label">Высота</div>
                    <div class="inputs">
                        <input type="number" class="input-number" min="1" max="5000" placeholder="height"
                            [(ngModel)]="canvasHeight" (ngModelChange)="SetCanvasHeight()">
                    </div>
                </div>
            </div>
            <div class="line">
                <button class="button-icon"
                    (click)="AnimationService.RenderFrame(canvas,canvasPreviewWidth,canvasPreviewHeight)">
                    <img src="../../../assets/snapshot.png" alt="button-icon" width="19px" height="19px">
                </button>
                <button class="button-icon" (click)="SaveSnapshot()">
                    <img src="../../../assets/save.png" alt="button-icon" width="19px" height="19px">
                </button>
            </div>
            <div style="aspect-ratio: 1;">
                <canvas class="snapshot" #canvas width="1920" height="1080" [style]="SetCanvasStyle()"></canvas>
            </div>
        </div>
        <div *ngSwitchCase="'record'">
            <div class="line">
                <div class="param">
                    <div class="label">Соотношение сторон</div>
                    <div class="inputs">
                        <select name="Aspect ration" (change)="OnAspectRatioChange($event)">
                            <option [value]="16/9" selected>16:9</option>
                            <option [value]="4/3">4:3</option>
                            <option [value]="5/3">5:3</option>
                            <option [value]="1">1:1</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="param">
                    <div class="label">Ширина</div>
                    <div class="inputs">
                        <input type="number" class="input-number" min="1" max="5000" placeholder="Width"
                            [(ngModel)]="canvasWidth" (ngModelChange)="SetCanvasWidth()">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="param">
                    <div class="label">Высота</div>
                    <div class="inputs">
                        <input type="number" class="input-number" min="1" max="5000" placeholder="height"
                            [(ngModel)]="canvasHeight" (ngModelChange)="SetCanvasHeight()">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="param">
                    <div class="label">Частота кадров</div>
                    <div class="inputs">
                        <input type="range" min="5" max="60" placeholder="framerate" [(ngModel)]="framerate">
                        <input type="number" #start class="input-number" min="5" max="60" placeholder="start"
                            [(ngModel)]="framerate">
                    </div>
                </div>
            </div>
            <div class="label">Отрезок</div>
            <div class="line">
                <div class="param">
                    <div class="inputs">
                        <input type="number" #start class="input-number" min="0" value="0" [max]="end.value"
                            placeholder="start" [(ngModel)]="recordStart">
                        <input type="number" #end class="input-number" [min]="start.value"
                            [max]="AnimationService.timeLine.duration" placeholder="start" [(ngModel)]="recordEnd">
                    </div>
                </div>
            </div>
            <div class="line">
                <button class="button-icon" (click)="OnStartRecord()">
                    <img src="../../../assets/snapshot.png" alt="button-icon" width="19px" height="19px">
                </button>
            </div>
            <div class="progress-line">
                <div class="progress-labels" style="height: 20px;">
                    <div class="progress-label">0</div>
                    <div class="progress-label" style="right: 5px;">
                        {{AnimationService.duration*AnimationService.framerate}}</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" [style]="SetProgressBarStyle()"></div>
                </div>
                <div class="progress-labels">
                    <div class="progress-label" [style]="SetProgressBarLabelStyle()">{{AnimationService.currentFrame}}
                    </div>
                </div>
            </div>
            <div style="aspect-ratio: 1;">
                <canvas class="snapshot" #canvas width="300" height="300" [style]="SetCanvasStyle()"></canvas>
            </div>
        </div>
        <div *ngSwitchCase="'settings'"></div>
    </div>
</div>