<div class="container" #context (click)="Click($event)">
    <div *ngIf="type=='viewcube'" class="menu-line">
        <label class="menu-label">
            <div class="menu-name">Задать вид</div>
            <div class="arrow-right">🞂</div>
        </label>
        <div class="container menu-items">
            <div class="basic-line"
                [ngStyle]="SceneUtilsService.SetDisableStyle(SceneUtilsService.model.children.length!=0)"
                (click)="object.SetAsView(0)">Вид
                спереди</div>
            <div class="basic-line"
                [ngStyle]="SceneUtilsService.SetDisableStyle(SceneUtilsService.model.children.length!=0)"
                (click)="object.SetAsView(1)">Вид
                сверху</div>
        </div>
    </div>
    <div *ngIf="type=='timeline-track'" class="container menu-items">
        <div class="basic-line"
            [ngStyle]="SceneUtilsService.SetDisableStyle(SceneUtilsService.model.children.length!=0)"
            (click)="SceneUtilsService.AnimationService.ClearTrack(object)">Очистить дорожку</div>
        <div class="basic-line" *ngIf="object.object.type!='Group' && object.type!='Camera' && object.type!='Plane'"
            (click)="SelectReturn(object.object)">Переименовать</div>
        <div class="basic-line" *ngIf="object.type=='Annotation' || object.type=='Light' || object.type=='Axis'"
            (click)="SceneUtilsService.SceneManagerService.DeleteObject(object.object)">Удалить</div>
    </div>
    <!-- <div *ngIf="type=='menubar-file'" class="menu-line">
        <label class="menu-label">
            <div class="menu-name">Задать вид как</div>
            <div>></div>
        </label>
        <div class="container menu-items">
        </div>
    </div> -->
    <!-- <div class="checkbox-line">
        <input type="checkbox"  name="" id="checkbox">
        <label class="checkbox-name" for="checkbox">Checkbox</label>
    </div>
    <div class="menu-line">
        <label class="menu-label">
            <div class="menu-name">Menu</div>
            <div>></div>
        </label>
        <div class="container menu-items">
            <div class="basic-line">first</div>
            <div class="basic-line">second</div>
            <div class="basic-line">third</div>
        </div>
    </div>
    <div class="basic-line">Basic line</div>
    <div class="basic-line">Nothing Special</div> -->
</div>