<div class="container" #context (click)="Click($event)">
    <div *ngIf="type=='viewcube'" class="menu-line">
        <label class="menu-label">
            <div class="menu-name">Задать вид как</div>
            <div>></div>
        </label>
        <div class="container menu-items">
            <div class="basic-line" (click)="SetFrontView($event)">Вид спереди</div>
            <div class="basic-line" (click)="SetTopView($event)">Вид сверху</div>
        </div>
    </div>
    <!-- <div class="checkbox-line">
        <input type="checkbox"  name="" id="checkbox">
        <label class="checkbox-name" for="checkbox">Checkbox</label>
    </div>
    <div class="menu-line">
        <label class="menu-label">
            <div class="menu-name">Menu</div>
            <div>></div>
        </label>
        <div class="container menu-items">
            <div class="basic-line">first</div>
            <div class="basic-line">second</div>
            <div class="basic-line">third</div>
        </div>
    </div>
    <div class="basic-line">Basic line</div>
    <div class="basic-line">Nothing Special</div> -->
</div>