<div class="scene">
    <div class="cube" #cube>
        <div class="cube__face cube__face--front" (click)="setView(0,1,0)">front</div>
        <div class="cube__face cube__face--back" (click)="setView(0,-1,0)">back</div>
        <div class="cube__face cube__face--right" (click)="setView(-1,0,0)">right</div>
        <div class="cube__face cube__face--left" (click)="setView(1,0,0)">left</div>
        <div class="cube__face cube__face--top" (click)="setView(0,0,1)">top</div>
        <div class="cube__face cube__face--bottom" (click)="setView(0,0,-1)">bottom</div>
    </div>
</div>